html body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

.debug{
    border: 1px solid red;
}

.welcome-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.action-container{
    display: flex;
}

.action-container > button{
    margin-right: 5px;
}